<!DOCTYPE html>
<html lang='en'>
<head>
  <title>
    {% if page.title %}
      {{page.title}} - {{site.name}}
    {% else %}
      {{site.name}}
    {% endif %}
  </title>
  <meta charset='utf-8' />
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  {% if page.description %}
    <meta content="{{ page.description }}" name='description' />
  {% else %}
    <meta content="{{ site.description }}" name='description' />
  {% endif %}
  <meta content='{{ site.author }}' name='author' />

  <!-- Facebook metadata -->
  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about-us/" property="article:author">
  {% endif %}
  {% if page.image %}
    <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
  {% else %}
    <meta content="{{ site.url }}/images/logo.png" property="og:image">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@invinst">
  <meta name="twitter:creator" content="@invinst">
  <meta name="twitter:description" content="{{ site.shortdesc }}">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
  {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/logo.png">
  {% endif %}

  <title>Citizens Police Data Project</title>
  <link rel="stylesheet" href="css/bootstrap.darkly.min.css" />
  <link href="css/dataTables.bootstrap.css" rel="stylesheet">
  <link href="css/sf-font.css" rel="stylesheet">
  <link rel="stylesheet" href="css/custom.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  <link href='http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700' rel='stylesheet' type='text/css'>

  <script src="js/jquery-1.10.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/highcharts.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
  
</head>

<body>
  <div class="container-fluid">
    <div id='header' class='row'>
        <div class='col-sm-1'>
          <img src='/images/ii-logo-transparent.png' alt='Invisible Institute' title='Invisible Institute' style='height: 80px;'/> 
        </div>
        <div class='col-sm-11'>
          <h1 class='pull-left'>Citizens Police Data Project</h1>
          <p id='main-nav' class='pull-right'>
            <a href='http://cpdb.co'>Intro &amp; findings</a>
            <a href='http://explore.cpdb.co'>Explore the data</a>
          </p>
        </div>
    </div>
    {{ content }}

    <p class='text-center'><a href='http://invisible.institute/'><img style='width:150px;' src='/images/ii-logo-white.png' alt='Invisible Institute' title='Invisible Institute' /></a></p>

    <p class='text-center' id='bottom-nav'>
      <a href='http://cpdb.co'>Intro &amp; findings</a>
      <a href='http://explore.cpdb.co'>Explore the data</a>
      <a href='/glossary.html'>Glossary</a>
      <a href='#'>The Complaint Process</a>
      <a href='mailto:info@invisible.institute'>info@invisible.institute</a>
    </p>
  </div>

  <script src="js/analytics_lib.js"></script>
</body>
</html>
